@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400&family=Titillium+Web:wght@900&display=swap");

main section.team {
    padding: 0 1.5em;

    div.main-text{
 font-family: "Titillium Web", sans-serif;
 font-size: 3.5rem;
 display: block;
 line-height: 1;
    span:last-child {
        display: block;
        color: #ffc311;
        margin: 0 0 0.5em 0;
        }
    }
    
    span.text{
        font-family: "Poppins", sans-serif;
        font-weight: 300;
        font-size: 1.2rem;
        color: #767675;
       
    }
    .card {
        margin-top: 2.3em;
        margin-bottom: 4em;
        position: relative;
        overflow: hidden;
        box-shadow: 0 15px 23px 0 rgba(0, 0, 0, 0.2);
        img {
            width: 100%;
            height: auto;
            display: block;
        }
        span {
            font-family: "Titillium Web", sans-serif;
            font-size: 1.6rem;
            color: #282828;
            background-color: #ffc311;
            padding: 0.5em 1.5em;
            position: absolute;
            left: 23%;
            top: 72%;
            z-index: 1;
            opacity: 1;
            transition: all .3s ease-in;
            transform: translateY(0);
        }
        &:hover {
            span {
                opacity: 0;
                transform: translateY(40px);
            }
            .icon {
                height: 100%;
                opacity: 1;
            }
            i {
                color: white;

                &:hover {
                    color: #ffd969;
                }
            }
        }
        .icon {
            z-index: 2;
            position: absolute;
            top: 0;
            left: 0;
            opacity: 0;
            font-size: 3rem;
            width: 100%;
            height: 0;
            background-color: rgba(0, 0, 0, 0.5);
            display: flex;
            justify-content: center;
            align-items: center;
            transition: all .3s ease-in;
            i {
                color: white;
            }
        }
    }
    //  Responsive
    // Tablet
    @media screen and (min-width: 768px) {
        .players {
            display: flex;
            flex-wrap: wrap;
            justify-content: space-around;
        }

        .players .card {
            width: 30%;
        }
        .card span {
            font-size: 1.4rem;
            padding: 0.7em 2em;
            left: 11%;
            top: 57%;
        }
        .card .icon {
            font-size: 3rem;
        }
    }
      // PC
    @media screen and (min-width: 992px) {
        max-width: 1400px;
        margin: auto;
        .card span {
            padding: 1em 4.5em;
            margin-right: 1em;
        }
        .card .icon {
            font-size: 5rem;
        }
    }
}