@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400&family=Titillium+Web:wght@900&display=swap");

/* Reset */
* {
  margin: 0;
  padding: 0;
  border: 0;
  box-sizing: border-box;
}

:root {
    font-size: .785rem;
    --yellow: #ffc311;
    --yellow-modal: #ffd969;
}

img {
    width: 100%;
    height: auto;
}

// main .team {

// }