@import "../sass/reset";
@import "../sass/variables";
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400&family=Titillium+Web:wght@900&display=swap");

section.slider {
  // background-image: url(../../img/slider/1.jpg), url(../../img/slider/2.jpg),
  //   url(../../img/slider/3.jpg), url(../../img/slider/4.jpg),
  //   url(../../img/slider/5.jpg), url(../../img/slider/6.jpg);
  height: 100vh;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  div.sliderContainer {
    div.sliderText {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      margin: auto;
      height: 100vh;
      width: 90%;
      h1.sliderH1 {
        text-align: center;
        line-height: inherit;
        font-family: "Titillium Web", sans-serif;
        font-size: 2.5rem;
        color: white;
        text-shadow: 0 0 2px #ffc824;
        span.sliderYellow {
          color: #ffc107;
          text-shadow: 0 0 5px rgb(97, 97, 97);
        }
      }
      p.sliderP {
        text-align: center;
        line-height: inherit;
        font-family: "Poppins", sans-serif;
        font-size: 0.8rem;
        color: white;
        width: 90%;
      }
      div.sliderButtons {
        position: absolute;
        bottom: 0;
        left: 50%;
        transform: translate(-50%);
        display: flex;
        justify-content: center;
        align-items: flex-end;
        margin-bottom: 2rem;
        @media screen and (min-width: 992px) {
          width: 80%;
          justify-content: space-between;
        }
        button {
          background-color: transparent;
          width: 30px;
          height: 30px;
          margin: 0 0.8rem;
          border: 2px solid white;
          border-radius: 50%;
          font-size: 3rem;
          cursor: pointer;
        }
        button.white{
          background-color: white;
        }
      }
    }
  }
}

@media screen and (min-width: $breakpoint-medium) {
  section.slider {
    div.sliderContainer {
      div.sliderText {
        width: 100%;
        h1.sliderH1 {
          font-size: 3rem;
        }
        p.sliderP {
          font-size: 0.9rem;
        }
        div.sliderButtons {
          width: 80%;
          justify-content: space-between;
        }
      }
    }
  }
}

@media screen and (min-width: $breakpoint-large) {
  section.slider {
    div.sliderContainer {
      div.sliderText {
        width: 70%;
        h1.sliderH1 {
          font-size: 3rem;
        }
        p.sliderP {
          font-size: 1.3rem;
        }
        div.sliderButtons {
          width: 80%;
          justify-content: space-between;
        }
      }
    }
  }
}
